<p>test1 works!</p>
<form #studentForm="ngForm">
    {{studentForm.value |json}}
    <br>
    {{student|json}}
<table>
    <tr>
        <td><label>RollNo</label></td>
        <td><input [(ngModel)]="student.rollno" name="txtRollno"></td>
    </tr>
    <tr>
        <td><label>Name</label></td>
        <td><input [(ngModel)]="student.name" name="txtName"></td>
    </tr>
    <tr>
        <td><label>Mark1</label></td>
        <td><input type="number" [(ngModel)]="student.mark1" name="txtMark1"></td>
    </tr>
    <tr>
        <td><label>Mark2</label></td>
        <td><input type="number" [(ngModel)]="student.mark2" name="txtMark2"></td>
    </tr>
    <tr>
        <td><label>Mark3</label></td>
        <td><input type="number" [(ngModel)]="student.mark3" name="txtMark3"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="printInput()">ADD</button>
        </td>
    </tr>
</table>
</form>

